<div id="<%= dom_id dataset %>">
  <p>
    <strong>Name:</strong>
    <%= dataset.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dataset.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= dataset.size %>
  </p>

  <p>
    <strong>Columns:</strong>
    <%= dataset.columns %>
  </p>

  <p>
    <strong>N rows:</strong>
    <%= dataset.n_rows %>
  </p>

  <p>
    <strong>Dataset type:</strong>
    <%= dataset.dataset_type %>
  </p>

  <p>
    <strong>Metrics:</strong>
    <%= dataset.metrics %>
  </p>

</div>
