<div id="<%= dom_id dataset %>">
  <p>
    <strong>Name:</strong>
    <%= dataset.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dataset.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= dataset.size %>
  </p>

  <p>
    <strong>Columns:</strong>
    <%= dataset.columns %>
  </p>

  <p>
    <strong>N rows:</strong>
    <%= dataset.n_rows %>
  </p>

  <p>
    <strong>Dataset type:</strong>
    <%= dataset.dataset_type %>
  </p>

  <p>
    <strong>Metrics:</strong>
    <% @dataset.metrics.each do |column_name, metric_values| %>
    <h4><strong>Column:</strong> <%= column_name.capitalize %></h4>

    <ul>
      <% metric_values.each do |metric, value| %>
        <li>
          <strong><%= metric.to_s.humanize %>:</strong>

          <% if value.is_a?(Hash) %>
            <!-- For nested hashes (e.g., frequency distribution) -->
            <ul>
              <% value.each do |key, val| %>
                <li><strong><%= key %>:</strong> <%= val %></li>
              <% end %>
            </ul>
          <% elsif value.is_a?(Array) %>
            <!-- For array values, join them with commas -->
            <%= value.join(", ") %>
          <% else %>
            <!-- For simple values -->
            <%= value %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <hr> <!-- Horizontal line to separate each column's metrics -->
  <% end %>
  </p>

  <% if dataset.file.attached? %>
    <p>
      <strong>Download file:</strong>
      <%= link_to 'Download', rails_blob_path(dataset.file, disposition: "attachment") %>
    </p>
  <% end %>
</div>
