<%= form_with(model: dataset) do |form| %>
  <% if dataset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>
      <ul>
        <% dataset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <% unless dataset.persisted? %>
    <!-- Code only for #new view -->
    <div class="field">
      <%= form.label :file %>
      <%= form.file_field :file %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>

  <!-- Keep only one instance of the "Back to datasets" link -->
  <%= link_to 'Back to datasets', datasets_path %>
<% end %>
