<%= form_with(model: dataset, class: "flex flex-col items-start justify-start gap-4 w-1/3") do |form| %>
  <% if dataset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>
      <ul>
        <% dataset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full">
    <%= form.label :name, "Name: ", class: "label w-full"%>
    <%= form.text_field :name, class: "input input-sm input-bordered w-full" %>
  </div>

  <div class="w-full">
    <%= form.label :description, "Description: ", class: "label w-full" %>
    <%= form.text_area :description, class: "textarea textarea-bordered w-full" %>
  </div>

  <% unless dataset.persisted? %>
    <!-- Code only for #new view -->
    <div class="field mt-5 flex flex-row items-center justify-center w-full">
      <%= form.file_field :file %>
    </div>
  <% end %>

  <div class="mt-5 flex flex-row items-center justify-center w-full">
    <%= form.submit "Save Dataset", class: "btn btn-primary" %>
  </div>
<% end %>
