<% content_for :title, "Showing dataset" %>

<div class="flex flex-col items-center justify-around gap-7 mb-6">
  <h1 class="text-5xl text-center">Showing Dataset: <%= @dataset.name %></h1>
  <%= link_to datasets_path, class: "btn btn-sm btn-primary-outline flex justify-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
    </svg>
    Back
  <% end %>
</div>

<div class="card bg-base-100 shadow-xl w-3/4 mb-6 mx-auto">
  <div class="card-body">
    <div class="flex flex-row items-center justify-between w-full">
      <div><strong>Created:</strong>
        <%= time_tag @dataset.created_at, time_ago_in_words(@dataset.created_at) + " ago", title: @dataset.created_at.strftime("%B %d, %Y %I:%M %p") %>
      </div>
    </div>

    <p><strong>Description:</strong> <%= @dataset.description %></p>

    <div class="flex flex-row items-start gap-10">
      <div class="flex flex-col justify-start">
        <p><strong>Size:</strong> <%= human_readable_size(@dataset.size) %></p>
        <p><strong>Columns:</strong> <%= @dataset.columns.map { |col| col["name"] }.join(", ") %></p>
        <p><strong>N rows:</strong> <%= @dataset.n_rows %></p>
        <p><strong>Dataset type:</strong> <%= @dataset.dataset_type %></p>
      </div>
    </div>
  </div>
</div>

<p class="text-center text-green-600"><%= notice %></p>

<% if @dataset&.metrics.present? %>
  <div class="carousel w-full mx-auto w-3/4 mb-6">
    <% @dataset.metrics.each_with_index do |(column_name, metric_values), index| %>
      <div id="slide<%= index + 1 %>" class="carousel-item relative w-full">
        <div class="card bg-base-100 shadow-xl mx-auto w-3/4 p-4">
          <h4 class="text-2xl text-center"><strong>Column:</strong> <%= column_name.capitalize %></h4>
          <div class="overflow-x-auto max-h-80"> <!-- Add max-height here for fixed height and enable scroll -->
            <table class="table text-center w-full border-collapse border border-gray-300 mt-4">
              <thead>
              <tr>
                <th class="border border-gray-300 px-4 py-2">Metric</th>
                <th class="border border-gray-300 px-4 py-2">Value</th>
              </tr>
              </thead>
              <tbody>
              <% metric_values.each do |metric, value| %>
                <% if value.is_a?(Hash) %>
                  <% value.each do |key, val| %>
                    <tr>
                      <td class="border border-gray-300 px-4 py-2"><strong><%= "#{metric.to_s.humanize} - #{key}" %></strong></td>
                      <td class="border border-gray-300 px-4 py-2"><%= val %></td>
                    </tr>
                  <% end %>
                <% elsif value.is_a?(Array) %>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2"><strong><%= metric.to_s.humanize %></strong></td>
                    <td class="border border-gray-300 px-4 py-2"><%= value.join(", ") %></td>
                  </tr>
                <% else %>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2"><strong><%= metric.to_s.humanize %></strong></td>
                    <td class="border border-gray-300 px-4 py-2"><%= value %></td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide<%= index.zero? ? @dataset.metrics.size : index %>" class="btn btn-circle">❮</a>
          <a href="#slide<%= (index + 2) > @dataset.metrics.size ? 1 : index + 2 %>" class="btn btn-circle">❯</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="flex flex-col items-center gap-5">
  <h2 class="text-3xl text-center">Data Preview</h2>

  <% if @limited %>
    <p class="text-center"><strong>Note:</strong> Showing the first 20 and last 10 rows of the dataset.</p>

    <div class="card bg-base-100 shadow-xl overflow-x-auto mx-auto w-3/4 mb-6">
      <h3 class="text-center">First 20 Rows</h3>
      <table class="table text-center w-full border-collapse border border-gray-300">
        <thead>
        <tr>
          <% @first_content.headers.each do |header| %>
            <th class="border border-gray-300 px-4 py-2"><%= header %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @first_content.each_with_index do |row, index| %>
          <% next if index == 0 %>
          <tr>
            <% row.each do |_, value| %>
              <td class="border border-gray-300 px-4 py-2"><%= value %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="card bg-base-100 shadow-xl overflow-x-auto mx-auto w-3/4 mb-6">
      <h3 class="text-center">Last 10 Rows</h3>
      <table class="table text-center w-full border-collapse border border-gray-300">
        <thead>
        <tr>
          <% @last_content.headers.each do |header| %>
            <th class="border border-gray-300 px-4 py-2"><%= header %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @last_content.each_with_index do |row, index| %>
          <tr>
            <% row.each do |_, value| %>
              <td class="border border-gray-300 px-4 py-2"><%= value %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <% else %>
    <div class="card bg-base-100 shadow-xl overflow-x-auto mx-auto w-3/4 mb-6">
      <h3 class="text-center">Full Dataset</h3>
      <table class="table text-center w-full border-collapse border border-gray-300">
        <thead>
        <tr>
          <% @first_content.headers.each do |header| %>
            <th class="border border-gray-300 px-4 py-2"><%= header %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @first_content.each_with_index do |row, index| %>
          <% next if index == 0 %>
          <tr>
            <% row.each do |_, value| %>
              <td class="border border-gray-300 px-4 py-2"><%= value %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
