<p style="color: green"><%= notice %></p>

<%= render @dataset %>

<div>
  <%= link_to "Edit this dataset", edit_dataset_path(@dataset) %> |
  <%= link_to "Back to datasets", datasets_path %>
  <br>
  <%= link_to 'Train a Model', new_model_path(model: {dataset_id: @dataset.id}) %>
  <%= button_to "Destroy this dataset", @dataset, method: :delete %>

  <h2>Data Preview</h2>

  <% if @limited %>
    <p><strong>Note:</strong> Only showing the first 20 and last 10 rows of the dataset.</p>
  <% end %>

  <% if @dataset_content.present? %>
    <table border="1">
      <thead>
      <tr>
        <% @dataset_content.headers.each do |header| %>
          <th><%= header %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @dataset_content.each_with_index do |row, index| %>
        <% if index > 0 %> <!-- Skip the header row -->
          <tr>
            <% row.each do |_, value| %>
              <td><%= value %></td>
            <% end %>
          </tr>
        <% end %>
        <% if index == 20 %>
          <tr>
            <% row.each do |_, value| %>
              <td>-</td>
            <% end %>
          </tr>
          <tr>
            <% row.each do |_, value| %>
              <td>-</td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No data available in this dataset.</p>
  <% end %>

</div>

