<div id="<%= dom_id deployment %>">
  <p>
    <strong>Name:</strong>
    <%= deployment.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= deployment.status %>
  </p>

  <p>
    <strong>Deployment link:</strong>
    <%= deployment.deployment_link %>
  </p>

  <%= link_to "Run Inference", "/deployments/#{deployment.id}/inference", class: "btn btn-primary" %>
</div>
