<%= form_with(model: deployment, class: "flex flex-col items-start justify-start gap-4 w-1/3") do |form| %>
  <% if deployment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(deployment.errors.count, "error") %> prohibited this deployment from being saved:</h2>

      <ul>
        <% deployment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-row items-center justify-between gap-5 w-full">
    <%= form.label :dataset_id, "Select Model: ", class: "label" %>
    <%= form.select :model_id, options_from_collection_for_select(@models, :id, :name, params.dig(:deployment, :model_id)),
                    (@dataset.nil? ? { include_blank: "Select a Dataset" } : {}) %>
  </div>

  <div class="w-full">
    <%= form.label :name, "Name: ", class: "label w-full"%>
    <%= form.text_field :name, class: "input input-sm input-bordered w-full" %>
  </div>

  <div class="mt-5 flex flex-row items-center justify-center w-full">
    <%= form.submit "Save Deployment", class: "btn btn-primary" %>
  </div>
<% end %>
