<p style="color: green"><%= notice %></p>

<% content_for :title, "Deployments" %>

<h1>Deployments</h1>

<div id="deployments">
  <% @deployments.each do |deployment| %>
    <%= render deployment %>
    <p>
      <%= link_to "Show this deployment", deployment %> |
      <!-- Link to the inference page for this deployment -->
      <%= link_to "Run Inference", deployment_inference_path(deployment), class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>

<%= link_to "New deployment", new_deployment_path %>
