<h1>Run Inference for Deployment</h1>

<%= form_with(url: deployment_inference_path(@deployment), method: :post, local: true) do |f| %>
  <% @columns.each do |column| %>
    <div>
      <!-- Determines what the data type is for a column -->
      <% case column[:dtype] %>

      <% when "int" %>
        <%= f.label column[:name], column[:name].humanize %>
        <%= f.number_field column[:name], required: true, min: 0, step: 1 %>

      <% when "float" %>
        <%= f.label column[:name], column[:name].humanize %>
        <%= f.number_field column[:name], required: true, min: 0, step: 0.01 %>

      <% when "bool" %>
        <%= f.label column[:name], column[:name].humanize %>
        <%= f.check_box column[:name], {}, "yes", "no" %>

      <% when "categorical" %>
        <%= f.label column[:name], column[:name].humanize %>
        <%= f.select column[:name], options_for_select(column[:values]), required: true %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>

<!-- Link to go back to the index page -->
<%= link_to 'Back to Deployments', deployments_path, class: 'btn btn-secondary' %>