<%= form_with(model: model, class: "flex flex-col items-start justify-start gap-4 w-1/3") do |form| %>
  <% if model.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
        <% model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @model.persisted? %>
    <div class="flex flex-row items-center justify-between gap-5 w-full">
      <%= form.label :dataset_id, "Select Dataset: ", class: "label" %>
      <%= form.select :dataset_id,
                      options_from_collection_for_select(@datasets, :id, :name, @dataset&.id),
                      (@dataset.nil? ? { include_blank: "Select a Dataset" } : {}),
                      { class: "select select-bordered select-sm", onchange: 'submitWithGetOnDatasetSelect(this)' } %>
    </div>

    <script>
        function submitWithGetOnDatasetSelect(selectElement) {
            window.location.href = '/models/new?dataset_id=' + selectElement.value ;
        }
    </script>

    <% if @dataset %>
      <div class="flex flex-row items-center justify-between gap-5 w-full">
        <%= label_tag :selected_column, "Select a Target Column: ", class: "label" %>
        <%= select_tag :selected_column,
                       options_for_select(@columns, @selected_column),
                       { class: "select select-bordered select-sm", include_blank: @selected_column.nil? ? "Select a Column" : nil, onchange: 'submitWithGetOnColumnSelect(this)' } %>
      </div>

      <script>
          function submitWithGetOnColumnSelect(selectElement) {
              window.location.href = '/models/new?dataset_id=<%= @dataset.id %>&selected_column=' + selectElement.value ;
          }
      </script>
    <% end %>

    <% if @selected_column %>
      <div class="w-full">
        <%= form.label :name, "Name: ", class: "label w-full"%>
        <%= form.text_field :name, class: "input input-sm input-bordered w-full" %>
      </div>

      <div class="w-full">
        <%= form.label :description, "Description: ", class: "label w-full" %>
        <%= form.text_area :description, class: "textarea textarea-bordered w-full" %>
      </div>

      <% @recommended_models.each_with_index do |model, index| %>
        <div class="flex flex-row items-center gap-2">
          <%= form.radio_button :selected_model, index, id: "recommended_model_#{index}", class: "radio radio-primary" %>
          <%= form.label "recommended_model_#{index}", "#{model[:model_type].humanize} (Hyperparams: #{model[:hyperparams].to_json})" %>

          <!-- Hidden fields to pass the model details -->
          <%= form.hidden_field :model_type, value: model[:model_type], name: "recommended_models[#{index}][model_type]" %>
          <%= form.hidden_field :hyperparams, value: model[:hyperparams].to_json, name: "recommended_models[#{index}][hyperparams]" %>
        </div>
      <% end %>

      <div class="mt-5 flex flex-row items-center justify-center w-full">
        <%= form.submit "Train Model", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <div class="w-full">
      <%= form.label :name, "Name: ", class: "label w-full"%>
      <%= form.text_field :name, class: "input input-sm input-bordered w-full" %>
    </div>

    <div class="w-full">
      <%= form.label :description, "Description: ", class: "label w-full" %>
      <%= form.text_area :description, class: "textarea textarea-bordered w-full" %>
    </div>

    <div class="mt-5 flex flex-row items-center justify-center w-full">
      <%= form.submit "Save Model", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
