<div id="<%= dom_id model %>">
  <p>
    <strong>Name:</strong>
    <%= model.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= model.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= model.size %>
  </p>

  <p>
    <strong>Features:</strong>
    <%= model.features %>
  </p>

  <p>
    <strong>Labels:</strong>
    <%= model.labels %>
  </p>

  <p>
    <strong>Model type:</strong>
    <%= model.model_type %>
  </p>

  <p>
    <strong>Hyperparams:</strong>
    <%= model.hyperparams %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= model.status %>
  </p>

  <p>
    <strong>Training job:</strong>
    <%= model.training_job %>
  </p>

  <p>
    <strong>Metrics:</strong>
    <%= model.metrics %>
  </p>

</div>
